.root {
    -fx-background-color: #333333;
    -fx-text-fill: #ffffff;
    -fx-base: #333333;
}

.button {
    -fx-background-color: #f4f4f4;
    -fx-text-fill: #4CAF50;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
}

.label {
    -fx-font-style: italic;
    -fx-text-fill: lightgray;
}

.my-desc-hyperlink {
    -fx-font-style: italic;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-font-size: 13px;
}

.my-desc2-hyperlink {
    -fx-text-fill: gray;
    -fx-font-style: italic;
    -fx-font-size: 12px;
}

.my-desc2-price-hyperlink {
    -fx-text-fill: black;
    -fx-font-style: italic;
    -fx-font-size: 12px;
}

.my-blue-label {
    -fx-text-fill: #6495ed;
}

.my-label {
    -fx-font-style: italic;
    -fx-font-size: 14px;
}

.text-field {
    -fx-background-color: transparent;
    -fx-border-color: #a0a0a0;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-padding: 5;
    -fx-prompt-text-fill: #808080;
    -fx-text-fill: gray;
}

.text-field:hover {
    -fx-background-color:  #444444;
}

.hyperlink {
    -fx-text-fill: gray;
    -fx-underline: false;
    -fx-font-style: italic;
}

.hyperlink:hover {
    -fx-text-fill: lightgray;
    -fx-underline: true;
}

.hyperlink:focused {
    -fx-focus-color: transparent;
}

.actual-page-hyperlink {
    -fx-text-fill: lightgray;
    -fx-underline: false;
    -fx-font-style: italic;
}

.actual-page-label {
    -fx-text-fill: lightgray;
    -fx-underline: false;
    -fx-font-style: italic;
}

.actual-page-hyperlink:hover {
    -fx-text-fill: lightgray;
    -fx-underline: false;
}

.actual-page-hyperlink:focused {
    -fx-focus-color: transparent;
}

.SlideShowView {
    -fx-background-image: url('SlideShowImages/QuadroSlideShowClaroNovo.png');
    -fx-background-size: cover;
    -fx-background-position: center;
}

.my-center-label-1 {
    -fx-font-weight: bold;
    -fx-font-size: 24;
    -fx-background-color: transparent;
}

.my-center-label-2 {
    -fx-text-fill: gray;
    -fx-font-weight: bold;
    -fx-font-size: 18;
}

.my-center-label-3 {
    -fx-text-fill: gray;
    -fx-font-size: 16;
}

.my-center-label-4 {
    -fx-font-weight: bold;
    -fx-font-size: 24;
    -fx-background-color: transparent;
}

.my-center-label-5 {
    -fx-text-fill: gray;
    -fx-font-size: 12;
}

.my-center-label-6 {
    -fx-text-fill: gray;
    -fx-font-size: 14;
}

.my-label-gray-medium-size {
    -fx-font-weight: bold;
    -fx-text-fill: gray;
    -fx-font-size: 16;
}

.cell-gray-background {
    -fx-background-color: #222222;
}

.cell-clear-background {
    -fx-background-color: #222222;
    -fx-background-radius: 7 7 7 7;
}

.scroll-pane {
    -fx-background-color: #333333;
}

.scroll-pane .scroll-bar:vertical {
    -fx-background-color: #333333;
}

.scroll-pane .scroll-bar:horizontal {
    -fx-background-color: #555555;
}

.scroll-pane .scroll-bar:increment-button,
.scroll-pane .scroll-bar:decrement-button {
    -fx-background-color: #777777;
}

.scroll-pane .scroll-bar:increment-button:hover,
.scroll-pane .scroll-bar:decrement-button:hover {
    -fx-background-color: #999999;
}

.grid-pane {
    -fx-background-color: #333333;
}

.button-modern {
   -fx-background-color: transparent;
   -fx-text-fill: #808080;
   -fx-font-size: 10px;
   -fx-padding: 10 20 10 20;
   -fx-border-radius: 50;
   -fx-background-radius: 50;
   -fx-border-color: #808080;
   -fx-border-width: 1;
   -fx-cursor: hand;
}

.button-modern:hover {
    -fx-background-color:  #444444;
}

.combo-box {
    -fx-border-color: #bbbcbd;
    -fx-border-width: 1px;
    -fx-border-radius: 50;
    -fx-text-fill: #808080;
    -fx-font-size: 12px;
}

.text-field {
    -fx-border-color: #bbbcbd;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-font-size: 12px;
    -fx-text-fill: #808080;
    -fx-prompt-text-fill: #808080;
}


.text-area {
    -fx-font-family: "Inter";
    -fx-font-size: 12px;
    -fx-text-fill: #808080;
    -fx-control-inner-background: #ffffff;
    -fx-border-color: #bbbcbd;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-padding: 2px;
}

.text-area- .scroll-bar:vertical {
    -fx-background-color: #ffffff;
}