.root {
    -fx-base: white;
    -fx-background: white;
}

.button {
    -fx-background-color: #f4f4f4;
    -fx-text-fill: #4CAF50;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
}

.label {
    -fx-font-style: italic;
}

.my-blue-label {
    -fx-text-fill: #0000ff;
}

.my-label {
    -fx-font-style: italic;
    -fx-font-size: 14px;
}

.text-field {
    -fx-background-color: #f4f4f4;
    -fx-border-color: #a0a0a0;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-padding: 5;
    -fx-prompt-text-fill: #808080;
}

.text-field:hover {
    -fx-background-color: #e0e0e0;
}

.hyperlink {
    -fx-text-fill: black;
    -fx-underline: false;
    -fx-font-style: italic;
}

.hyperlink:hover {
    -fx-text-fill: gray;
    -fx-underline: true;
}

.hyperlink:focused {
    -fx-focus-color: transparent;
}

.actual-page-hyperlink {
    -fx-text-fill: gray;
    -fx-underline: false;
    -fx-font-style: italic;
}

.actual-page-hyperlink:hover {
    -fx-text-fill: gray;
    -fx-underline: false;
}

.actual-page-hyperlink:focused {
    -fx-focus-color: transparent;
}

.m-label:focused {
    -fx-focus-color: transparent;
}
.SlideShowView {
    -fx-background-image: url('SlideShowImages/QuadroSlideShowClaroNovo.png');
    -fx-background-size: cover;
    -fx-background-position: center;
}

.my-center-label-1 {
    -fx-font-weight: bold;
    -fx-font-size: 24;
}

.my-center-label-2 {
    -fx-text-fill: gray;
    -fx-font-weight: bold;
    -fx-font-size: 18;
}

.my-center-label-3 {
    -fx-text-fill: gray;
    -fx-font-size: 16;
}

.my-center-label-4 {
    -fx-font-weight: bold;
    -fx-font-size: 24;
    -fx-background-color: transparent;
}

.my-center-label-5 {
    -fx-text-fill: darkgray;
    -fx-font-size: 12;
}

.my-center-label-6 {
    -fx-text-fill: gray;
    -fx-font-size: 14;
}

.my-desc-hyperlink {
    -fx-font-style: italic;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-font-size: 13px;
}

.my-desc2-hyperlink {
    -fx-text-fill: gray;

    -fx-font-style: italic;
    -fx-font-size: 12px;
}

.my-desc2-price-hyperlink {
    -fx-text-fill: black;
    -fx-font-style: italic;
    -fx-font-size: 12px;
}

.my-label-gray-medium-size {
    -fx-font-weight: bold;
    -fx-text-fill: gray;
    -fx-font-size: 16;
}

.actual-page-label {
    -fx-text-fill: lightgray;
    -fx-underline: false;
    -fx-font-style: italic;
}

.cell-gray-background {
    -fx-background-color: #f5f5f5;
}

.cell-clear-background {
    -fx-background-color: #f4f4f4;
    -fx-background-radius: 7 7 7 7;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-bar:vertical .track {
    -fx-background-color: #f0f0f0;
}

.button-modern {
   -fx-background-color: transparent;
   -fx-text-fill: #808080;
   -fx-font-size: 12px;
   -fx-padding: 10 20 10 20;
   -fx-border-radius: 50;
   -fx-background-radius: 50;
   -fx-border-color: #808080;
   -fx-border-width: 1;
   -fx-cursor: hand;
}

.button-modern:hover {
    -fx-background-color: #f0f0f0;

}

.combo-box {
    -fx-background-color: #ffffff;
    -fx-border-color: #bbbcbd;
    -fx-border-width: 1px;
    -fx-border-radius: 50;
    -fx-text-fill: #808080;
    -fx-font-size: 12px;
}

.text-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #bbbcbd;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-font-size: 12px;

    -fx-text-fill: #808080;
    -fx-prompt-text-fill: #808080;
}

.text-area {
    -fx-font-family: "Inter";
    -fx-font-size: 12px;
    -fx-text-fill: #808080;
    -fx-control-inner-background: #ffffff;
    -fx-border-color: #ededed;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-padding: 2px;
}

.text-area- .scroll-bar:vertical {
    -fx-background-color: #ffffff;
}
